<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388528305745-klugafkcl5o5rn4puksghetik5vuie4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388528305745-klugafkcl5o5rn4puksghetik5vuie4f</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8P9IKSTjQlvnezTrfT11hafCVGvS1as</string>
	<key>GCM_SENDER_ID</key>
	<string>388528305745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.aum.tuaf</string>
	<key>PROJECT_ID</key>
	<string>test-2618c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2618c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388528305745:ios:92063f89ca8fa7e267aa70</string>
</dict>
</plist>