<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859472982443-3gavgajfd7sn67r3t2642a5ivt6s879q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859472982443-3gavgajfd7sn67r3t2642a5ivt6s879q</string>
	<key>API_KEY</key>
	<string>AIzaSyDtbgVVR1NyxEGF_rAU2szsBoQUTcM-EZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>859472982443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.aum.tuaf</string>
	<key>PROJECT_ID</key>
	<string>thtuafapp</string>
	<key>STORAGE_BUCKET</key>
	<string>thtuafapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859472982443:ios:982b66380181bc82f362ee</string>
</dict>
</plist>