<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="onBack()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{category.name}}</ion-title>
    <ion-icon class="prouct_icon_cart" (click)="view_cart(product)" name="cart-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of products" (click)="openProductPage(product)">
        <div>
          <ion-card>
            <img src={{product.images[0].src}} alt="">
            <h2 class="product-name">{{product.name1}}</h2>
            <div class="product_price">
              <p class="sale_price">{{product.sale_price | currency :'VND' :true: '1.0-3'}}</p>
              <p style="margin-top: 1px;">{{product.regular_price | currency :'VND' :true: '1.0-3'}}</p>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
