
$font-size-title: 1.7rem;
$font-size-text: 0.9rem;
$font-weight:600;
$color-text:#340064;

ion-header {
    background-color: #991799;
         ion-title {
            // font-size: 1.2rem !important;
            // color: #fff !important;
            margin-bottom: 6px;
            margin-top: 7px;
        }

    .prouct_icon_cart {
        font-size: 1.6rem;
        color: #ffff !important;
        font-weight: 500;
        position: absolute;
        top: 10px;
        right: 13px;
    }

}

ion-content {
    background-color: #e7dbf4 !important;
    // header {
    //     margin-bottom: 12px;
    //     display: flex;
    //     justify-content: space-between;


    // }

    img {
        width: 45px;
        height: 45px;
        margin: 7px 10px 2px 10px;
        }
}

.card-md {
    margin: 0 0 10px 10px !important;
}

.card-ios {
    margin: 0 0 10px 10px !important;
}

ion-card {
    border-radius: 10px !important;
    height: max-content;
    box-shadow: 8px 8px 8px -8px black !important;

    ion-card-title {
    font-size: 1.2rem !important;
    color: #340064 !important;
    margin-bottom: 6px;
    margin-top: 7px;
    margin-left: 12px;
    font-weight: 600;
}
}



.toolbar-title {
    width: auto !important;
}


.toolbar-title-ios {
    font-size: 2.2rem;
    color: #340064;

}

.toolbar-title-md {
    padding: 0 !important;
    font-size: 2.3rem !important;
    color: $color-text !important;
}

.ion-card-subtitle {
    font-size: 1.4rem;
    color: $color-text;
    text-align: left;
    margin-bottom: 30px;
    line-height: 1.5;
    word-spacing: 0.3px;
}

.ion-card-course {
    font-size: 1.2rem;
    color: #340064;
    float: left;
    margin-left: 13px;
    margin-bottom: 5px;
}
