ion-header {
    ion-title {
        font-size: 1.1rem;
    }

    ion-buttons {
        font-size: 1.5rem;
        margin-left: 12px;
    }

}

ion-content {
    .add_question {
        textarea {
            width: 100%;
            height: 400px;
        }

        margin-top: -10px;
    }

    .btn_add_question {
        width: 100%;
        margin-top: 10px;
        height: 35px;
        background: coral;
        color: white;
        font-size: 0.9rem;
    }
}
