<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="onBack()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Thanh toán</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Thông tin đơn hàng </ion-list-header>
    <div class="ion-item">
      <img src={{product.images[0].src}} alt="">
      <ion-item>
        <ion-label>
          <h2>{{product.name}}</h2>
          <div class="ion-label-text">
            <h3 style="margin-right: 5px;">{{product.sale_price | currency :'VND' :true: '1.0-3'}}</h3>
            <p>{{product.regular_price | currency :'VND' :true: '1.0-3'}}</p>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ion-list class="ion-list-price">
    <ion-list-header> TỔNG </ion-list-header>
    <ion-item class="prcie">
      <ion-label>
        <h2>Giá gốc</h2>
        <h3>{{product.regular_price | currency :'VND' :true: '1.0-3' }}</h3>
      </ion-label>
    </ion-item>
    <ion-item class="prcie">
      <ion-label>
        <h2>Giá sale</h2>
        <h3>{{product.sale_price | currency :'VND' :true: '1.0-3' }}</h3>
      </ion-label>
    </ion-item>
    <!-- <ion-item class="product_payment_method">
      <ion-label>Chọn phương thức</ion-label>
      <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Vui lòng chọn" (ionChange)="handleChange($event)">
        <ion-select-option value="bacon">Chuyển khoản</ion-select-option>
        <ion-select-option value="onions">OnePay</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item style="margin-top: 20px;">
      <ion-label>
        <div class="codesale">
          <input type="text" class="input-text" placeholder="Nhập mã ưu đãi (nếu có)" [(ngModel)]="codesale" />
          <div (click)="CodeSale()" class="button-codesale">Áp dụng</div>
        </div>
        <h2 class="code-success" *ngIf="boolean3">Áp dụng mã thành công</h2>
        <h2 class="code-error" *ngIf="boolean">Mã code không tồn tại hoặc đã hết hạn</h2>
        <h2 class="code-error" *ngIf="boolean2">Bạn chưa nhập mã</h2>
      </ion-label>
    </ion-item>
    <ion-item class="prcie">
      <ion-label>
        <h2>Tổng giá</h2>
        <h3>{{sale_price_new | currency :'VND' :true: '1.0-3'}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <button class="btn-submit" (click)="Payment(product)">Thanh toán</button>
</ion-content>
