ion-header {
    ion-title {
        font-size: 1.1rem;
    }

    ion-buttons {
        font-size: 1.5rem;
        margin-left: 12px;
    }
}

ion-content {
    .title_notranscript {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 20px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){background-color: #f2f2f2}
}
